{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

<div class="container">
    <form action="/search" method="get">
        <div class="form-row">
            <div class="form-group col-sm-6">
                <input autocomplete="off" autofocus class="form-control" name="name" placeholder="Name" onkeyup="search();" type="text">
            </div>
            <div class="form-group col-sm-3">
                <select id='major' autocomplete="off" autofocus class="form-control" name="major" placeholder="Major" onchange="search();">
                    <option value="NULL" selected>Major</option>
                    {% for id in majors %}
                    <option value="{{id["id"]}}">{{ id["id"] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-sm-3">
                <select id='year' autocomplete="off" autofocus class="form-control" name="year" placeholder="Year" onchange="search();">
                    <option value="NULL" selected>Year</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                </select>
            </div>

        </div>
    </form>
    <div class="row" id="results"></div>
</div>

<script>

    let name = document.querySelector('input');
    let major = document.getElementById('major');
    let year = document.getElementById('year');
    
    function search() {
        $.get('/search?name=' + name.value + '&major=' + major.value + '&year=' + year.value, function(data) {
            let html = '';
            for (profile of data) {
                html +='<div class="col-sm-4"><div class="card"><div class="card-body"><h5 class="card-title">' 
                        + profile["name"] + '</h5><p class="card-text">' 
                        + profile["major"] 
                        + ', ' 
                        + profile["year"] 
                        + '</p><a href="#" class="btn btn-primary">Profile</a></div></div></div>'
            }
            document.getElementById("results").innerHTML = html;
        });lineslines
    };
</script>
{% endblock %}