{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
{% for profile in profile%}
    <h2>{{ profile["name"] }}</h2>
    <h2>{{ profile["major"] }}</h2>
    <h2>{{ profile["year"] }}</h2>
    <h2>{{ profile["residential_college"] }}</h2>
    <h2>{{ profile["bio"] }}</h2>
{% endfor %}

{% if not self %}
	{% if not connected %}
		<button type="button" class="btn btn-primary" id="connectedBtn">Add Connection</button>
	{% else %}
		<button type="button" class="btn btn-primary" disabled>Connected</button>
	{% endif %}
{% endif %}
{% endblock %}

<script>
	$("#connectedBtn").onclick(function() {
		$.post("/profile", {"id": {{ id }}});
		this.addAttribute("disabled");
		this.innerHTML = "Connected";
	});
</script>