{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
{% for profile in profile%}
    <img src="{{profile["file_path"]}}" class="img-fluid" alt="Responsive image">
    <h2>{{ profile["name"] }}</h2>
    <h2>{{ profile["major"] }}</h2>
    <h2>{{ profile["year"] }}</h2>
    <h2>{{ profile["residential_college"] }}</h2>
    <h2>{{ profile["bio"] }}</h2>
{% endfor %}

{% if not isSelf %}
	{% if not isConnected %}
	<form action="javascript:post()">
		<button type="submit" class="btn btn-primary" id="connectedBtn">Add Connection</button>
	</form>
	{% else %}
		<button type="button" class="btn btn-primary" disabled>Connected</button>
	{% endif %}
{% endif %}

<script>
	function post() {
		$.ajax({
            type:'POST',
            url:"/profile",
            data:{"id": {{ id|safe }}},
            success:function (data) {
            	$('#connectedBtn').prop('disabled', true);
            	$('#connectedBtn').html("Connected");
            },
            error:function (xhr, status, errorThrown) {
                console.log(xhr); //could be alert if you don't use the dev tools
            },
            dataType:"json"
        });
	};
</script>

{% endblock %}