{% extends "layout.html" %}

{% block title %}
    Update Profile
{% endblock %}

{% block main %}
<form action="/updateprofile" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="name" placeholder="Name" type="text">
    </div>
    <div class="form-group">
        <select autocomplete="off" autofocus class="form-control" name="major" placeholder="Major">
          <option value="" selected disabled>Major</option>
          {% for id in majors %}
          <option value="{{id["id"]}}">{{ id["id"] }}</option>
          {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <select autocomplete="off" autofocus class="form-control" name="year" placeholder="Year">
            <option value="" selected disabled>Class</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
        </select>
    </div>

    <div class="form-group">
        <select autocomplete="off" autofocus class="form-control" name="residential_college" placeholder="Residential College">
            <option value="" selected disabled>Residential College</option>
            <option value="Benjamin Franklin">Benjamin Franklin</option>
            <option value="Berkeley">Berkeley</option>
            <option value="Branford">Branford</option>
            <option value="Davenport">Davenport</option>
            <option value="Ezra Stiles">Ezra Stiles</option>
            <option value="Grace Hopper">Grace Hopper</option>
            <option value="Jonathan Edwards">Jonathan Edwards</option>
            <option value="Morse">Morse</option>
            <option value="Pauli Murray">Pauli Murray</option>
            <option value="Pierson">Pierson</option>
            <option value="Saybrook">Saybrook</option>
            <option value="Silliman">Silliman</option>
            <option value="Timothy Dwight">Timothy Dwight</option>
            <option value="Trumbull">Trumbull</option>
        </select>
    </div>

    <div class="form-group">
        <textarea class="form-control" placeholder="bio" name="bio" rows="3"></textarea>
    </div>

    <div class="form-group col-sm-6">
        <input autocomplete="off" autofocus class="form-control" name="class_id" id="class_id" placeholder="Class ID" onkeyup="search();" type="text">
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Class ID</th>
                <th scope="col">Class Name</th>
            </tr>
        </thead>
        <tbody>
            <div class="row" id="results"></div>
            <!--<tr>-->
            <!--    <td>-->
            <!--        <div class="form-check">-->
            <!--            <input class="form-check-input" type="checkbox" value="class_id" id="test">-->
            <!--            <label class="form-check-label" for="defaultCheck1">TEST</label>-->
            <!--        </div>-->
            <!--    </td>-->
            <!--    <td>-->
            <!--        TESTTEST-->
            <!--    </td>-->
            <!--    <div class=row id="results"></div>-->
            <!--</tr>-->
        </tbody>

    </table>
    <div>
        <button class="btn btn-primary" type="submit" id="submit">Update</button>
    </div>
</form>

<script>

    let class_id = document.getElementById('class_id');

    function search() {
        $.get('/class_search?class_id=' + class_id.value, function(data) {
            let html = '';
            for (class_info of data) {
                html += '<tr><td><div class="form-check"><input class="form-check-input" type="checkbox" value="'
                        + class_info["class_id"]
                        + '" id="test">'
                        + '<label class="form-check-label" for="defaultCheck1">'
                        + class_info["class_id"]
                        + '</label></div></td><td>'
                        + class_info["class_name"]
                        + '</td><div class=row id="results"></div></tr>'
            }
            console.log(html)
            document.getElementById("results").innerHTML = html;
        });
    };
</script>

{% endblock %}